flask==3.1.1
flask-cors==5.0.1
gunicorn==23.0.0
google-cloud-bigquery==3.31.0
google-auth==2.38.0
requests==2.32.3
elasticsearch==8.17.2
tqdm==4.67.1
pandas==2.2.3
pyarrow==18.1.0
python-dotenv==1.0.1
